.main_page {
    padding: 70px;
}

.main_block {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main_block > img {
    border-radius: 5px;
    box-shadow: 9px 10px 30px -5px rgba(0,0,0,1);
}

.main_page button {
    cursor: pointer;
    width: 500px;
    height: 70px;
    border: none;
    font-size: 36px;
    background-color: white;
    border-bottom: 2px outset black;
    transition: 0.5s;
}

.main_page button:hover {
    transform: translate(10px, 5px);
}